@media only screen and (min-width:726px) and (max-width:812px){



    #center {
    	text-align: center;
    	margin: 0 auto;
    	padding-top: 205px;
    	color: white;
    }

    #big{
    	font-size: 50px;
    	font-weight: 1000;
    	color:#cbbe9d;
    }

h2 {
  font-size:20px;

}


h1{
  font-size:50px;
}




#allfooter{
		width:100%;
		margin:auto;
		display: block;
	}
}

/*MAIN INFORMATION
------------------*/


.content-wrap-paragraph {
	max-width: 1900px;
	margin: 0 auto;
	margin-right:100px;
}


.col_left {
	width: 100%;
	float: clear;
}


.maininfo {
	background-image: none;
	overflow: hidden;
	padding:130px 0px 0px 20px;
	background-size: cover;
	height: 520px;
}

.maininfo_secondsection {
	overflow: auto;
	padding:130px 100px 0px 70px;
	background-image: url(../images/index_secondsection_gradient3.jpg);
	background-position: center;
	height: 520px;
	background-clip:inherit;
	background-size: cover;

}

.maininfo_thirdsection {
	background-image: none;
	background-clip:inherit;
	background-size: cover;
	background-position: center;
	padding:100px 0px 0px 70px;
	background-size: cover;
	height: 520px;
}
